# Sistema de recomendação de filmes SEM sklearn
### (apenas para estudo)

In [4]:
#from movielens import get_notas, get_filmes, recomendacoes
import movielens as mv

## Carrega os dados de usuários e filmes

In [10]:
notas = mv.get_notas()
filmes = mv.get_filmes()
MEU_USUARIO = 111

## Mostra as recomedações para `MEU_USUARIO`

In [11]:
reco = mv.recomendacoes(MEU_USUARIO, notas, filmes)
reco

,nota,titulo,generos
filmeId,,,
1288,4.5,This Is Spinal Tap (1984),Comedy
296,4.5,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
858,4.0,"Godfather, The (1972)",Crime|Drama
527,4.0,Schindler's List (1993),Drama|War
36,4.0,Dead Man Walking (1995),Crime|Drama
111,4.0,Taxi Driver (1976),Crime|Drama|Thriller
1193,4.0,One Flew Over the Cuckoo's Nest (1975),Drama
508,3.5,Philadelphia (1993),Drama
903,3.5,Vertigo (1958),Drama|Mystery|Romance|Thriller
608,3.0,Fargo (1996),Comedy|Crime|Drama|Thriller

## Recomendações levando em conta o *Gênero* mais assistido pelo `MEU_USUARIO`

In [7]:
reco_gen = mv.recomendacoes(MEU_ID, notas, filmes, True)
reco_gen

,nota,titulo,generos
filmeId,,,
1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
296,3.0,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
141,3.0,"Birdcage, The (1996)",Comedy
289,2.0,Only You (1994),Comedy|Romance
339,2.0,While You Were Sleeping (1995),Comedy|Romance
345,2.0,"Adventures of Priscilla, Queen of the Desert, ...",Comedy|Drama
380,2.0,True Lies (1994),Action|Adventure|Comedy|Romance|Thriller
441,2.0,Dazed and Confused (1993),Comedy
252,2.0,I.Q. (1994),Comedy|Romance
237,2.0,Forget Paris (1995),Comedy|Romance

In [12]:
mv.genero_preferido(MEU_USUARIO, filmes)

'Comedy'